<!DOCTYPE html>
<html ng-app="bankApp">

<head>
    <title>Investec Banking</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-carousel.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
</head>

<body ng-controller="MainCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" ng-hide="$mdMedia('gt-md')">
                <md-icon class="material-design">menu</md-icon>
            </md-button>
            <span flex></span>
            <md-button data-ng-show="token" ng-click="logout()">logout</md-button>
        </div>
    </md-toolbar>
    <div layout="row">

        <div layout="column" style="height:500px;" ng-cloak>
            <!--md-button ng-click="open()" class="md-primary"> Open menu</!--md-button-->

            <section layout="row" flex>

                <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools">Menu</h1>
                    </md-toolbar>
                    <md-content layout-padding ng-controller="LeftCtrl">
                        <md-button ng-click="close()" class="md-primary" hide-gt-md>
                            Close Menu
                        </md-button>
                        <md-button ng-click="goProfile();">
                            <md-list-item hide-md show-gt-md style="background-color:DarkSlateBlue">
                                Profile
                            </md-list-item>
                        </md-button>
                        <a href="#/quests">
                            <md-list-item hide-md show-gt-md style="background-color:DarkSlateBlue">

                                Quests

                            </md-list-item>
                        </a>
                        <md-button ng-click="goMission();">
                            <md-list-item hide-md show-gt-md style="background-color:DarkSlateBlue">

                                Missions

                            </md-list-item>
                        </md-button>
                        <a href="#/medals">
                            <md-list-item hide-md show-gt-md style="background-color:DarkSlateBlue">

                                Medals

                            </md-list-item>
                        </a>
                    </md-content>
                </md-sidenav>

            </section>
        </div>
        <md-content data-ng-hide="token" layout="row" layout-padding>
            <form role="form" ng-submit="signin()">
                <md-input-container>
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" ng-model="email">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" ng-model="password">
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit">Sign in</md-button>
            </form>
            <img src="http://zebra-pictures.clipartonline.net/_/rsrc/1327009319389/home/Baby-Zebra-Image_2.png?height=320&width=302" alt="Profile">
        </md-content>
        <md-content data-ng-show="token" layout="column" flex>

            <!--<button ng-click="getUser()">Get User</button>-->

            <div ng-view></div>
        </md-content>
    </div>


    <!--SCRIPTS-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="/lib/ngStorage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js"></script>
    <script src="/lib/angular-carousel.js"></script>
    <!--<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
    <script src="/js/app.js"></script>
    <script src="js/services/UserService.js"></script>
    <!--SCRIPTS END-->

</body>

</html>
