<!DOCTYPE html>
<html>

<head>
    <title>
        Best Bank>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
</head>

<body ng-app="bestBank" ng-controller="MainCtrl">
    <div>
        {{test}}
    </div>
</body>

</html>
