<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        Best Bank
    </title>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="bestBank" ng-controller="MainCtrl as main" layout="row" class="layout-row" ng-cloak>

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1">

        <header class="nav-header">
            <a ng-href="/" class="docs-logo" href="/">
                <img src="img/icons/angular-logo.svg" alt="">
                <h1 class="docs-logotype md-heading">Menu</h1>
            </a>
        </header>


        <md-content flex="" role="navigation" class="flex">

        </md-content>
    </md-sidenav>
    <div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex" layout-align="center start">
        <h1 class="page-header">Welcome {{ account.name }} </h1>
        <h2>Your current balance is: R{{ account.balance }}</h2>

        <div>
            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                Toggle left
            </md-button>
        </div>
        <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">

            <div flex="30" flex-sm="100" flex-xs="100" ng-repeat="goal in account.goals">
                <md-card>
                    <div class="img-contain">
                        <img ng-src="{{goal.image}}" class="md-card-image" alt="{{goal.goal}}">
                    </div>
                    <md-progress-linear md-mode="determinate" value="{{goal.current*100/goal.target}}"></md-progress-linear>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{goal.goal}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="Favorite">
                                <md-icon aria-label="favorite" class="material-icons">favorite</md-icon>
                            </md-button>
                            <md-fab-speed-dial md-direction="right" class="md-fling">
                                <md-fab-trigger>
                                    <md-button aria-label="sahre" class="md-fab md-warn">
                                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Share</md-tooltip>
                                        <md-icon aria-label="share" class="material-icons">share</md-icon>
                                    </md-button>
                                </md-fab-trigger>
                                <md-fab-actions>
                                    <md-button class="md-icon-button" aria-label="Favorite">
                                        <md-icon aria-label="favorite" class="material-icons">favorite</md-icon>
                                    </md-button>
                                </md-fab-actions>
                            </md-fab-speed-dial>
                        </md-card-icon-actions>

                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                    <md-card-content>

                        <p>
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                        </p>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>

    </div>
    <!--<div layout="row" class="layout-row" ng-cloak>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="sidebar-toolbar md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <p hide-md show-gt-md>
                    This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
                </p>
            </md-content>
        </md-sidenav>
        <div layout="column" flex role="main" class="layout-column flex">

            <md-content flex layout-padding>
                <div layout="column" layout-fill layout-align="top center">
                    <h1 class="page-header">Welcome {{ account.name }} </h1>
                    <h2>Your current balance is: R{{ account.balance }}</h2>

                    <div>
                        <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                            Toggle left
                        </md-button>
                    </div>
                    <md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">

                        <div flex="50" flex-sm="100" flex-xs="100" layout="column" ng-repeat="goal in account.goals">
                            <md-card>
                                <img ng-src="{{goal.image}}" class="md-card-image" height="300px" alt="{{goal.goal}}">

                                <md-progress-linear md-mode="determinate" value="{{goal.current*100/goal.target}}"></md-progress-linear>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">{{goal.goal}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="start center">
                                    <md-card-icon-actions>
                                        <md-button class="md-icon-button" aria-label="Favorite">
                                            <md-icon aria-label="favorite" class="material-icons">favorite</md-icon>
                                        </md-button>
                                        <md-fab-speed-dial md-direction="right" class="md-fling">
                                            <md-fab-trigger>
                                                <md-button aria-label="sahre" class="md-fab md-warn">
                                                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Share</md-tooltip>
                                                    <md-icon aria-label="share" class="material-icons">share</md-icon>
                                                </md-button>
                                            </md-fab-trigger>
                                            <md-fab-actions>
                                                <md-button class="md-icon-button" aria-label="Favorite">
                                                    <md-icon aria-label="favorite" class="material-icons">favorite</md-icon>
                                                </md-button>
                                            </md-fab-actions>
                                        </md-fab-speed-dial>
                                    </md-card-icon-actions>

                                    <md-button>Action 1</md-button>
                                    <md-button>Action 2</md-button>
                                </md-card-actions>
                                <md-card-content>

                                    <p>
                                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                                    </p>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-content>

                </div>
                <div flex></div>
            </md-content>
        </div>


    </div>
-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>

</body>

</html>
