<!DOCTYPE html>
<html ng-app="bankApp">

<head>
    <title>Investec Banking</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--STYLES-->
    <link rel="stylesheet" href="../styles/styles.css">
    <!--STYLES END-->
</head>

<body ng-controller="bankController">
    <div ng-view></div>
   <!-- 
    <div>
        <progress value="35" max="100"></progress>
        <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
    </div>
    
    <div id="progressbar">
        <div></div>
    </div>
    
    <div id="myProgress">
        <div id="xpBar">My progress bar will go here</div>
    </div>
    -->
    <div>{{Math.round(120/100)}}
    </div>
    
    <div>
        <img src="http://zebra-pictures.clipartonline.net/_/rsrc/1327009319389/home/Baby-Zebra-Image_2.png?height=320&width=302" alt="Profile">
        
        <p>xp added : <input type="number" ng-model="xp" placeholder="Enter amount here"></p>
<h1>Xp added: {{xp}}</h1>
     
    <md-progress-linear md-mode="determinate" value="{{35}}"></md-progress-linear>
    <md-progress-linear md-mode="determinate" value="{{35+xp}}"></md-progress-linear>
    </div>
    
    <div ng-app="bankApp" ng-controller="xpController">
        <h2>XP progress bar with controller</h2>
        
        Current XP: <input type="number" ng-model="currentXP"><br>
Rand amount: <input type="number" ng-model="rand"><br>
<br>
        
        
        
        <div layout>
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">Current XP:</span>
      </div>
      <md-slider flex min="0" max="100" ng-model="currentXP">
      </md-slider>
      <div flex="20" layout layout-align="center center">
        <input class="slider" flex type="number" ng-model="currentXP">
      </div>
    </div>
    <div layout>
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">Rand amount:</span>
      </div>
      <md-slider flex ng-model="rand" min="0" max="300">
      </md-slider>
      <div flex="20" layout layout-align="center center">
        <input class="slider" flex type="number" ng-model="rand" >
      </div>
    </div>
        
        
        
        Final XP: {{addXP()}}
        <!--Level: {{getLvl()}}
            <md-progress-linear md-mode="determinate" value="{{showXP()}}"></md-progress-linear>-->
        
        <md-progress-circular md-diameter="170" md-mode="determinate" value="{{showXP()}}"></md-progress-circular>
        <md-progress-circular class="md-hue-3" md-mode="determinate" value="{{100}}"md-diameter="170"></md-progress-circular>
        
        <!--<div class="lvl" style="border-style: solid" width="170" height="170">Lvl: {{getLvl()}}</div>-->
        
        <div class="circle">Lvl: {{getLvl()}}</div>
        </div>
    
    <div>Why you no work?</div>
    
    
    <!--SCRIPTS-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <!--<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
    <script src="../js/xp.js"></script>
    <!--SCRIPTS END-->

    
    
    
</body>

</html>
