<md-content ng-controller="ChoreCtrl" layout-wrap layout="row" layout-align="center start" ng-cloak>


    <md-toolbar class="md-tall md-accent-2" layout="row" layout-align="center center">
        <md-button id="new-mission-button" class="md-fab md-mini md-primary" ng-click="addSillyChore()">
            <md-icon class="material-icons" style="color: greenyellow;">whatshot</md-icon>
        </md-button>
        <h1>Mission Control</h1>
        <div>

            <md-button id="new-mission-button" class=" md-fab md-hue-2" ng-click="newMissionDialog($event)">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div flex="100" flex-gt-sm="50">
        <md-toolbar>
            <div class="md-toolbar-tools">

                <h2>
                <span>Current Missions</span>
            </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Favorite" ng-click="setDone()" ng-show="check_selected">
                    <md-icon class="material-icons" style="color: greenyellow;">done_all</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-list class="md-whiteframe-1dp" height="100%">
            <div ng-repeat="chore in chores">
                <md-list-item class="md-3-line" ng-click="chore.open = !chore.open">
                    <md-button class="md-fab md-mini md-primary" layout-align="center center" layout="column" ng-click="chore.open = !chore.open; chore.selected=!chore.selected;checkSelected()">
                        <div ng-show="chore.selected">
                            <md-icon class="material-icons">done</md-icon>
                        </div>
                        <div ng-hide="chore.selected">
                            <img class="md-avatar avatar-offset" ng-src="/images/Baby-Zebra-Image.png">
                        </div>
                    </md-button>
                    <div class="md-list-item-text">
                        <h3>{{ chore.name }}</h3>
                        <h4>R{{ chore.reward }}</h4>
                        <p>{{ chore.dueDate | date: 'dd-MM-yyyy '}} </p>
                        <div class="more" ng-hide="!chore.open">
                            <p>Last Completed: {{chore.lastCompleted}}</p>
                            <p>Approved?: {{chore.approved}}</p>
                            <p>Recurring: {{chore.recurring}}</p>
                            <div class="buttons" layout="row" layout-align="center right">

                                <md-button class="md-raised" ng-click="updateMissionDialog(chore,$event); chore.open = !chore.open">EDIT</md-button>
                                <md-button class="md-raised md-warn" ng-click="removeChore(chore)">DELETE</md-button>
                            </div>
                        </div>
                    </div>
                    <div class="md-secondary">
                        <md-button class="md-icon-button" aria-label="Done" ng-click="setDone(chore)">
                            <md-icon class="material-icons">done</md-icon>
                        </md-button>
                    </div>
                </md-list-item>

                <md-divider></md-divider>
            </div>
        </md-list>
    </div>
    <div flex="100" flex-gt-sm="50">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                <span>Completed Missions</span>
            </h2> &nbsp;<i>(to be approved)</i>
                <span flex></span>
                <md-button class="md-icon-button" ng-show="check_done_selected" aria-label="Undo" ng-click="setUndone()">
                    <md-icon class="material-icons" style="color: greenyellow;">reply_all</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-list>

            <div ng-repeat="chore in done_chores">
                <md-list-item class="md-3-line" ng-click="chore.open = !chore.open">
                    <md-button class="md-fab md-mini md-primary" layout-align="center center" layout="column" ng-click="chore.open = !chore.open; chore.selected=!chore.selected; checkDoneSelected()">
                        <div ng-show="chore.selected">
                            <md-icon class="material-icons">done</md-icon>
                        </div>
                        <div ng-hide="chore.selected">
                            <img class="md-avatar avatar-offset" ng-src="images/Brain.jpg">
                        </div>
                    </md-button>
                    <!-- <img ng-src="images/Brain.jpg" class="md-avatar" alt="" />-->
                    <div class="md-list-item-text">
                        <h3>{{ chore.name }}</h3>
                        <h4>R{{ chore.reward }}</h4>
                        <p>{{ chore.dueDate | date: 'HH:mm dd-MM-yyyy '}} </p>
                        <div class="more" ng-hide="!chore.open">
                            <p>more content</p>
                            <p>more content</p>
                            <p>more content</p>
                            <p>more content</p>
                            <div class="buttons" layout="row" layout-align="center right">
                                <md-button class="md-raised" ng-click="updateMissionDialog(chore,$event); chore.open = !chore.open">EDIT</md-button>
                                <md-button class="md-raised md-warn" ng-click="removeDoneChore(chore)">DELETE</md-button>
                            </div>
                        </div>
                    </div>
                    <md-button class="md-secondary md-icon-button" aria-label="Favorite" ng-click="setUndone(chore)">
                        <md-icon class="material-icons">reply</md-icon>
                    </md-button>

                </md-list-item>

                <md-divider></md-divider>
            </div>
        </md-list>
    </div>
</md-content>
