<div ng-controller="GoalController">
    <header style="text-align:center;text-decoration: underline;" ;>
        <h2> Balance:{{userBankBalance | currency:"R"}} </h2>
    </header>
    <md-button type="button" class="md-raised md-primary" ng-click="showAddGoalFormFunc(true,false,false)" ng-show="showAddGoalButton" style="width:100%">Add Goal</md-button>
    <!--<div>{{addGoal('test',500,3,'someDate','someImage','someDescription')}}</div>-->


    <!-- ADDING GOAL----->
    <div flex-xs="" flex-gt-xs="50" layout="column" height="100%" ng-show="showAddGoalForm">
        <div layout="column" layout-padding ng-cloak>
            <br/>
            <md-content style="border:2px solid green">
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Item</label>
                    <!--<md-icon md-svg-src="Placeholder" class="name"></md-icon>-->
                    <input ng-model="itemDescription" type="text" ng-required="true">
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Target Amount</label>
                    <!--<md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>-->
                    <input ng-model="targetAmount" type="number" ng-required="true">
                </md-input-container>
                <md-input-container class="md-block">
                    <Label>Priority</Label>
                    <select ng-model="priority" ng-required="true" style="margin-left:100px;" class="form-control" ng-options="priority for priority in [5,4,3,2,1]" title="Stars">
                        <option value>Priority</option>
                    </select>
                    <!--<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>-->
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Due Date</label>
                    <!--<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>-->
                    <input ng-model="dueDate" type="date" ng-required="true">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description?</label>
                    <!--<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>-->
                    <input ng-model="description" type="text" ng-required="true">
                </md-input-container>

                <input type="submit" style="width:100%" class="button" value="Submit" ng-click="showAddGoalFormFunc(false,true,true);addGoal();resetValues()">

            </md-content>
        </div>
    </div>

    <div ng-show="showAddGoalCarousel">
        <div class="carousel-demo">
            <ul rn-carousel rn-carousel-index="carouselIndex3" rn-carousel-transition="hexagon" rn-carousel-buffered class="carousel3">
                <li ng-repeat="goal in goalList">
                    <div flex-xs="" flex-gt-xs="50" layout="column">
                        <md-card>
                            <md-card-title style="height:30px;">
                                <md-card-title-text>
                                    <span class="md-headline">{{goal.itemDescription}}</span>
                                    <span class="md-subhead">Due date: {{goal.dueDate | date:'yyyy-MM-dd'}}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media">
                                        <img src="images/Baby-Zebra-Image.png" width="40px" height="40px" />
                                    </div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-content style="margin-left=0px; padding-left=0px;padding-top=-5px">
                                <h6>{{goal.currentAmount | currency:"R"}}/{{goal.targetAmount | currency:"R"}} saved</h6>
                                <md-progress-linear md-mode="determinate" value="{{goal.currentAmount/goal.targetAmount*100}}"></md-progress-linear>
                                <br>
                                <ul>
                                    <li>Priority: {{goal.priority}}</li>
                                    <li>Description: {{goal.description}}</li>
                                </ul>

                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click=withdrawFromGoal($index,50)>Withdraw</md-button>
                                <md-button ng-click="depositToGoal($index,50);">Deposit</md-button>
                            </md-card-actions>
                        </md-card>


                        <!--  <md-card-title-media>
<h6>{{goal.currentAmount | currency:"R"}}/{{goal.targetAmount | currency:"R"}} saved</h6>
<md-progress-linear md-mode="determinate" value="{{goal.currentAmount/goal.targetAmount*100}}"></md-progress-linear>
<div class="md-media-sm card-media"></div>
</md-card-title-media>
</div>
</md-card-title-text>


<md-card-actions layout="row" layout-align="front center">
<md-button>Withdraw</md-button>
<md-button>Deposit</md-button>
</md-card-actions>
</md-card-title>-->

                    </div>
                    <!--<div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">
{{ slide.id }}
</div>-->
                </li>
            </ul>
        </div>
    </div>
</div>
