<md-content layout="column" layout-padding>

    <div layout="row" layout-align="center">

        <h1>Welcome {{user.email }}</h1>
    </div>
    <div layout="row" layout-align="center">
        <!--Level: {{getLvl()}}
<md-progress-linear md-mode="determinate" value="{{showXP()}}"></md-progress-linear>-->

        <md-progress-circular md-diameter="170" md-mode="determinate" value="{{showXP()}}"></md-progress-circular>
        <md-progress-circular class="md-hue-3" md-mode="determinate" value="{{100}}" md-diameter="170"></md-progress-circular>

        <!--<div class="lvl" style="border-style: solid" width="170" height="170">Lvl: {{getLvl()}}</div>-->

        <div class="circle">Lvl: {{getLvl()}}</div>

    </div>
    <div layout="row" layout-align="center">FinalXP: {{finalXP}}</div>

    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">Current XP:</span>
        </div>
        <md-slider flex min="0" max="100" ng-model="currentXP">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input class="slider" flex type="number" ng-model="currentXP">
        </div>
    </div>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">Rand amount:</span>
        </div>
        <md-slider flex ng-model="rand" min="0" max="1000">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input class="slider" flex type="number" ng-model="rand">
        </div>
    </div>



</md-content>
