<md-dialog aria-label="Update Mission" ng-cloak class="md-inline-form">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update Mission</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons" aria-label="Close dialog">clear</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form name="choreForm">
                <md-content layout="column" layout-padding layout-align="center center">
                    <img class="md-avatar-icon" ng-src="/images/Baby-Zebra-Image.png" width="150px" />
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Name</label>
                            <input ng-model="updatechore.name">
                        </md-input-container>
                        <md-datepicker ng-model="updatechore.dueDate" md-placeholder="Enter date">
                        </md-datepicker>

                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Reward (R)</label>
                            <input type="number" step="1" name="reward" ng-model="updatechore.reward" min=0>

                        </md-input-container>
                        <md-checkbox ng-model="updatechore.approved" aria-label="Approved">Approved: {{updatechore.approved}}</md-checkbox>
                    </div>
                </md-content>
            </form>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button type="submit" class="md-raised" ng-click="answer(updatechore)" style="margin-right:20px;">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
