.medalimg{
    
    width: 100%;
}


.unearnedmedalimg{
    
    -webkit-filter: blur(10px);
    width: 100%;
}


.medalcard{
    
    width: 150px;
    text-align: center;
}

.unearnedmedalcard{
    background: grey;
    width: 150px;
    text-align: center;
}
