body {
    font-size: 150%;
}
md-list {
    padding: 0;
}
.avatar-offset {
    width: 43px;
    height: 43px;
    margin-left: 1.2em;
    padding-top: 1.2em;
}
.medalimg {
    width: 100%;
}
.unearnedmedalimg {
    -webkit-filter: blur(10px);
    width: 100%;
}
.medalcard {
    width: 150px;
    text-align: center;
}
.unearnedmedalcard {
    background: grey;
    width: 150px;
    text-align: center;
}
md-progress-circular {
    position: absolute;
    z-index: 1;
}
.md-hue-3 {
    position: absolute;
    z-index: 0;
}
.circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    font-size: 43px;
    font: "Arial";
    font-weight: bold;
    color: blue;
    line-height: 170px;
    text-align: center;
}
